Icon
.DS_Store
/media/*
.lock
*.sublime-workspace
/.vscode
/.idea
/site/cache/*
/site/accounts/*
/site/sessions/*
/site/config/.license
/kirby
/vendor
/node_modules
/site/plugins/kirby-vite
/content/*
/assets/dist
/site/config/vite.config.php
