:root {
	--bg: #fff;
	--orange: #ff5500;
	--fg: #0e243c;
	--fg-muted: #93abc7;
	--fg-loud: #3d2ca6;
	--spacing-sm: 0.5rem;
	--spacing-md: 1rem;
	--spacing-lg: 1.5rem;
	--spacing-xl: max(5vmin, 2rem);
	--spacing-xxl: max(8.75vmin, 3.5rem);
	--spacing-2xl: max(15.3125vmin, 6.125rem);
	--max-width: min(34rem, 100%);
}

@media (min-width: 800px) {
	:root {
		--spacing-xl: max(5vmin, 3.5rem);
		--spacing-xxl: max(18vmin, 5rem);
	}
}

@supports (color: color(display-p3 1 1 1)) {
	:root {
		--orange: color(display-p3 1 0.3 0);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg: #17202a;
		--orange: #ff5500;
		--fg: #fff;
		--fg-muted: #a4bad4;
		--fg-loud: #6753ea;
	}
}

html,
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: auto;
	min-width: 0;
}

body {
	padding: var(--spacing-xxl) var(--spacing-xl);
	background-color: var(--bg);
	font-family:
		'Jost Variable',
		Futura,
		Century Gothic,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji',
		Segoe UI Symbol,
		'Noto Color Emoji';
	color: var(--fg);
	font-weight: 500;
	font-feature-settings: 'ss01' 1;
	text-align: center;
}

.end,
main,
main > * + * {
	margin-top: var(--spacing-2xl);
}

a {
	color: var(--fg-loud);
}

a:focus,
a:hover {
	color: var(--orange);
}

img {
	width: auto;
	height: auto;
}

p {
	text-wrap: pretty;
}
