---
import Root from '../layouts/Root.astro';
import List from '../components/List.astro';
import { api } from '../lib/api.js';
import Pagination from '../components/Pagination.astro';
import { PAGE_SIZE } from '../consts';

const { posts } = await api();
const page = {
	currentPage: 1,
	total: posts.length,
	size: PAGE_SIZE,
	url: {
		next: '/2',
	},
};
---

<Root>
	<main>
		<List posts={posts.slice(0, PAGE_SIZE)} />

		{posts.length > PAGE_SIZE && <Pagination {page} />}
	</main>
</Root>
