---
const today = new Date();
---

<footer class="end">
	<p>
		<span>&copy; {today.getFullYear()}</span>
		<a href="https://florianpichler.de">Florian Pichler</a> unless stated otherwise.
		<br />
		<span>♥ Did I mention? <a href="https://ylk.gd">You Look Good!</a></span>
	</p>
</footer>
<style></style>
