---
const today = new Date();
---

<footer class="end">
	<p>
		&copy; {today.getFullYear()}
		<a href="https://florianpichler.de">Florian Pichler</a> unless stated otherwise.
		<br />
		♥ Did I mention? <a href="https://ylk.gd">You Look Good!</a>
	</p>
</footer>
<style></style>
