---
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import Markdown from './Markdown.astro';
---

<header class="top">
	<a href="/"><img src="/head.jpg" alt="Florian Pichler" /></a>

	<h1 class="logo"><a href="/">{SITE_TITLE}</a></h1>
	<Markdown markdown={SITE_DESCRIPTION} />
</header>
