---
const { page } = Astro.props;

const prev = page.currentPage === 2 ? '/' : page.url.prev;
const next = page.url.next;
---

<nav>
	{
		prev && (
			<a href={prev}>
				<span role="presentation">&larr;</span> Newer
			</a>
		)
	}
	<span
		>{
			page.currentPage === 1 ? (
				''
			) : (
				<>
					{page.currentPage} / {page.total}
				</>
			)
		}</span
	>
	{
		next && (
			<a href={next}>
				Older <span role="presentation">&rarr;</span>
			</a>
		)
	}
</nav>

<style>
	nav {
		display: flex;
		justify-content: center;
		gap: var(--spacing-lg);
	}
</style>
