---
import { format } from 'date-fns';

const { post, tagName = 'div' } = Astro.props;
const { title, date, path, htmlSanitized } = post;
const TagName = tagName;
---

<TagName class="post">
	{
		title && (
			<header>
				<h2 set:html={title} />
			</header>
		)
	}

	<div class="content" set:html={htmlSanitized} />

	<footer>
		<p>
			<a rel="permalink" href={'/' + path}
				><time datetime={date}>{format(date, 'dd/MM/yyyy')}</time></a
			>
		</p>
	</footer>
</TagName>
