---
import { formatRFC3339, format } from 'date-fns';

const { post, tagName = 'div' } = Astro.props;
const { type, title, date, html, path } = post;
const TagName = tagName;

console.log(path, date);
---

<TagName class={'post ' + type}>
	{
		title && (
			<header>
				<h2>{title}</h2>
			</header>
		)
	}

	<div class="content" set:html={html}></div>

	<footer>
		<p>
			<a rel="permalink" href={'/' + path}
				><time datetime={date}>{format(date, 'dd/MM/yyyy')}</time></a
			>
		</p>
	</footer>
</TagName>
