---
import FormattedDate from "./FormattedDate.astro";
import { getEntry, render } from "astro:content";
import { format } from "date-fns";

interface Props {
  element: string;
  id: string;
}

const { element = "article", id } = Astro.props;
const post = await getEntry("post", id);

if (!post) {
  throw new Error(`Unable to find post:${id}`);
}

const { title, date } = post.data;
const rendered = await render(post);

const Element = element;
const { Content } = rendered;
---

<Element class="post">
  {
    title && (
      <header>
        <h2>{title}</h2>
      </header>
    )
  }

  <div class="content">
    <Content />
  </div>

  <footer>
    <p>
      <a rel="permalink" href={format(date, "yyyy-MM-dd-HHmm")}>
        <FormattedDate {date} />
      </a>
    </p>
  </footer>
</Element>
