---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Portrait from "../assets/florian-pichler.jpg";
import { Image } from "astro:assets";
---

<header class="top">
	<Image
		class="u-photo"
		src={Portrait}
		alt="Florian Pichler"
		width="96"
		height="96"
		densities={[2]}
		loading="lazy"
		decoding="async"
	/>

        <h1 class="logo"><a href="/">{SITE_TITLE}</a></h1>
        <p class="description">{SITE_DESCRIPTION}</p>
    </a>
</header>
