---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Portrait from "../assets/florian-pichler.jpg";
import { Image } from "astro:assets";
---

<header class="h-card">
	<Image
		class="u-photo"
		src={Portrait}
		alt="Florian Pichler"
		width="96"
		height="96"
		densities={[2]}
		loading="lazy"
		decoding="async"
	/>

	<h1 class="p-name"><a href="/" class="u-url">{SITE_TITLE}</a></h1>
	<p class="p-note">{SITE_DESCRIPTION}</p>
</header>

<style>
	.h-card {
		margin-inline: auto;
		max-width: var(--max-width);
	}

	.u-photo {
		display: block;
		width: 6rem;
		border-radius: 50%;
		overflow: hidden;
		margin: 0 auto var(--spacing-lg);
	}

	.p-name {
		font-size: 2rem;
		line-height: 2rem;
		letter-spacing: -0.01em;
		text-transform: uppercase;
		font-weight: bold;
	}

	.p-name a {
		color: inherit;
		text-decoration: none;
	}

	p {
		max-width: var(--max-width);
		margin: var(--spacing-md) auto;
		color: var(--fg-muted);
	}

	nav {
		margin-top: var(--spacing-md);
	}

	nav ul {
		display: flex;
		gap: var(--spacing-md);
	}
</style>
